#footer {
  &.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  width: 90%;
  border-radius: 15px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;

  #logo {
    width: 70px;
    margin-left: 5px;
  }
  .footer-link{
    font-size: 12px;
  }
  .footer-secondary {
      display: flex;
      justify-content: center;
      align-items: center;
    background-color: #E1E1E1;

  }
}

